@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --brown:#FFC72C;
    --black:#27251F;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background-color: #fff;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--brown);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--brown);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--brown);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--brown);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--brown);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--brown);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}
/* end styling header */

/* start CSS Home Section */
#home .container{
    padding: 1rem 0;
    background-color: #FFF;
}
#home .container .dishes{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 5rem;
    
}
#home .container .dishes .info,
#home .container .dishes .image{
    flex: 1 1 45rem;
}
#home .container .dishes .image img{
    width: 100%;
}
h2{
    font-size: 4rem;
    color: var(--brown);
}
h1{
    font-size: 10rem;
    color: var(--light-color);
}
#home .container .dishes .info p{
    font-size: 3rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.swiper-pagination-bullet-active{
    background: var(--brown);
}

/* start styling Dishes section */
#dishess h1{
    display: flex;
    justify-content: center;
    font-size: 7rem;
}
#dishess h2{
    display: flex;
    justify-content: center;
}
#dishess .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.cards .card{
    width: 28rem;
    background-color: #fff;
    padding: 2.78rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.8rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}
.cards .card .fa-heart,
.cards .card .fa-eye{

    position: absolute;
    display: flex;
    justify-content: center;
    top: 1.5rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background: var(--light-color);
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;

}
.cards .card .fa-eye{
    left: -15rem;
}
.cards .card .fa-heart{
    right: -15rem;
}
.cards .card:hover .fa-heart{
    right: 1rem;
}
.cards .card:hover .fa-eye{
    left: 1rem;
}
.card img{
    height: 18rem;
    margin: 1rem 0;
}
.card h3{
font-size: 2.2rem;
color: var(--black);
}
.card .stars{
font-size: 2.2rem;
}
.card .stars a{
color: var(--brown);
}
.card span{

    color: var(--black);
    font-size: 1.5rem;
    margin-right: 1rem;
    }





















/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:2rem 3rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);        
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }
    #home .container{
        padding-top: 1rem;
    }

    #home .container .dishes .info h2{
        font-size: 3rem;
    }
    #home .container .dishes .info h1{
        font-size: 5rem;
    }
    #home .container .dishes .info .images img{
        width:50% ;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}

